@charset "utf-8";

body {
  background: #fff;
  text-align: center;
  font-family: sans-serif; }

h1 {
  color: black;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  background: url("../images/extra-life.jpg") no-repeat center 0;
  padding: 200px 0 10px;
  margin: 0; }

h3 {
  margin: 0;
  color: rgba(0, 0, 0, .7); }

.doc {
  font-size: 16px;
  text-align: left;
  margin: 15px auto;
  max-width: 500px; }
  .doc a {
    color: #23c1e8; }
    .doc a:hover {
      color: #666; }

.video {
  margin: 0 auto;
  max-width: 560px; }

hr {
  max-width: 560px; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
